@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000}
	a:link {color:#f70}
	a:hover, a:visited:hover {color:#fc0}
	a:visited {color:#940}
}
body {
	font:1.3em/1.62 monospace;
	padding:0.2em;
	margin:1em auto;
	max-width:50em;
}
